<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    @await RenderSectionAsync("Head", required: false)
</head>
<body>
    <form method="post">
        <div>
            @RenderBody()
        </div>
    </form>
</body>
</html>
