@page
@model PFRLabelIssuing.Pages.MasterMaint.ChangePasswordModel
@{
    ViewData["PageTitle"] = "Change Password";
}

@section Head {
    <script type="text/javascript">
        $(document).ready(function () {
            var pswexpired = '@(Model.IsPswExpired ? "1" : "")';
            if (pswexpired == '1') {
                alert('Password exceeded validity period. Please change password now.');
            }
        });
    </script>
    <style type="text/css">
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }
        #ChangedPassword {
            font-size: 11px;
        }
    </style>
}

<table width="100%" style="height:100%;" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <form method="post">
                <table width="500px" style="height:auto;margin:auto;" border="0" cellpadding="1" cellspacing="0">
                    <tr>
                        <td align="center" colspan="3"><img src="@Url.Content("~/image/ChgPassword.jpg")" alt="Change Password" /></td>
                    </tr>
                    <tr>
                        <td><span style="color:red">*</span>&nbsp;Password</td>
                        <td>:</td>
                        <td><input type="password" name="Password" style="width:250px;" maxlength="15" /></td>
                    </tr>
                    <tr>
                        <td><span style="color:red">*</span>&nbsp;New Password</td>
                        <td>:</td>
                        <td><input type="password" name="NewPassword" style="width:250px;" maxlength="15" /></td>
                    </tr>
                    <tr>
                        <td><span style="color:red">*</span>&nbsp;Confirm Password</td>
                        <td>:</td>
                        <td><input type="password" name="ConfirmPassword" style="width:250px;" maxlength="15" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <button type="submit" asp-page-handler="Update">Change Password</button>&nbsp;
                            <button type="submit" asp-page-handler="Reset">Reset</button>&nbsp;
                            <button type="submit" asp-page-handler="Cancel">Cancel</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <br />
                            <span style="color:Red;">* Passwords Must Contain at least 1 Alphabet and 1 Number.</span><br />
                            <span style="color:Red;">* Passwords Must Contain a Minimum of 9 Characters.</span><br />
                            <span style="color:Red;">* Passwords will expire after @Model.MaxPasswordAge days.</span><br />
                            <span style="color:Red;">* Users are not allow to reuse any of their previous 5 passwords.</span>
                        </td>
                    </tr>
                </table>
            </form>
        </td>
    </tr>
</table>

@if (!string.IsNullOrEmpty(Model.StartupScript))
{
    <script>@Html.Raw(Model.StartupScript)</script>
}
