@page
@model PFRLabelIssuing.Pages.MasterMaint.MM_PRODLINE_DtlModel
@{
    ViewData["PageTitle"] = Model.PageTitle;
}
<partial name="_Title" />
<partial name="_Error" />

@if (Model.Action == BasePageModel.EnumAction.View || Model.Action == BasePageModel.EnumAction.Delete)
{
    <table class="detailinfo">
        <tr>
            <td style="width:180px;">Product Line</td>
            <td> : </td>
            <td>@Model.DisplayProdLine</td>
        </tr>
        <tr>
            <td>Description</td>
            <td> : </td>
            <td>@Model.DisplayDescription</td>
        </tr>
    </table>
}

@if (Model.Action == BasePageModel.EnumAction.Add || Model.Action == BasePageModel.EnumAction.Edit)
{
    <form method="post">
        <table class="detailinfo">
            <tr>
                <td><span class="text-danger">*</span></td>
                <td style="width:180px;">Product Line</td>
                <td> : </td>
                <td>
                    @if (Model.Action == BasePageModel.EnumAction.Edit)
                    {
                        <span>@Model.ProdLine</span>
                        <input type="hidden" asp-for="ProdLine" />
                    }
                    else
                    {
                        <input type="text" asp-for="ProdLine" style="width:200px;" maxlength="15" />
                    }
                    <span asp-validation-for="ProdLine" class="text-danger"></span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>Description</td>
                <td> : </td>
                <td>
                    <input type="text" asp-for="Description" style="width:300px;" maxlength="30" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </td>
            </tr>
        </table>
        @{
            ViewData["Action"] = Model.Action == BasePageModel.EnumAction.Add ? "Add" : "Edit";
            ViewData["ShowSubmit"] = true;
            ViewData["ShowDelete"] = false;
            ViewData["ShowReset"] = true;
            ViewData["ShowHistory"] = false;
            ViewData["ShowInfo"] = false;
            ViewData["ShowConfirmation"] = false;
            ViewData["CancelUrl"] = Model.GetUrl(BasePageModel.EnumAction.None);
        }
        <partial name="_Controller" />
    </form>
}

@if (Model.Action == BasePageModel.EnumAction.View || Model.Action == BasePageModel.EnumAction.Delete)
{
    ViewData["Action"] = Model.Action == BasePageModel.EnumAction.View ? "View" : "Delete";
    ViewData["ShowSubmit"] = true;
    ViewData["ShowDelete"] = true;
    ViewData["ShowReset"] = false;
    ViewData["ShowHistory"] = true;
    ViewData["ShowInfo"] = true;
    ViewData["ShowConfirmation"] = Model.Action == BasePageModel.EnumAction.Delete;
    ViewData["CancelUrl"] = Model.GetUrl(BasePageModel.EnumAction.None);
    ViewData["EditUrl"] = Model.GetUrl(BasePageModel.EnumAction.Edit);
    ViewData["HistoryUrl"] = Model.GetUrl(BasePageModel.EnumAction.History);
    ViewData["CreatedBy"] = string.IsNullOrEmpty(Model.CreatedBy) ? "N/A" : "ID : " + Model.CreatedBy;
    ViewData["CreatedDate"] = Model.CreatedDate.HasValue ? Model.CreatedDate.Value.ToString("dd/MM/yyyy hh:mm:ss tt") : "";
    ViewData["UpdatedBy"] = string.IsNullOrEmpty(Model.UpdatedBy) ? "N/A" : "ID : " + Model.UpdatedBy;
    ViewData["UpdatedDate"] = Model.UpdatedDate.HasValue ? Model.UpdatedDate.Value.ToString("dd/MM/yyyy hh:mm:ss tt") : "";
    <form method="post">
        <partial name="_Controller" />
    </form>
}

@if (!string.IsNullOrEmpty(Model.StartupScript))
{
    <script>@Html.Raw(Model.StartupScript)</script>
}
