<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="MaxRowPerPage" value="10"/>
    <add key="ShareHeader" value="1"/>
    <add key="title" value="FILM Sub-Slitting Label Printing System"/>
    <add key="SystemName" value="FILM Sub-Slitting Label Printing System"/>
    <!--<add key="MISSignout" value="http://10.201.0.4:80/Default.aspx" />
    <add key="MISHome" value="http://10.201.0.4:80/Default.aspx" />-->
    <add key="Slitting_Series_Expired_Days" value="90"/>
    <add key="Max_Password_Age" value="90"/>
    <add key="Max_Login_Attempts" value="5"/>
  </appSettings>
  <connectionStrings>
    <!-- 'Changed @ 2019.06.05, cloud network segmentation
  <add name="PFR_Label_DB" connectionString="Data Source=10.201.1.5; Initial Catalog=flm_subcon;User ID=flm_subcon;Password=label;MultipleActiveResultSets=True;Max Pool Size=500;Asynchronous Processing=True;" providerName="System.Data.SqlClient" /> -->
    <!--<add name="PFR_Label_DB" connectionString="Data Source=10.201.1.4; Initial Catalog=flm_subcon;User ID=flm_subcon;Password=label;MultipleActiveResultSets=True;Max Pool Size=500;Asynchronous Processing=True;" providerName="System.Data.SqlClient" />-->
    <!--<add name="PFR_Label_DB" connectionString="Data Source=GRP-MS-DB-DEV1\PFRDB; Initial Catalog=filmsubconlabel;User ID=filmsubconlabel;Password=label;MultipleActiveResultSets=True;Max Pool Size=500;Asynchronous Processing=True;" providerName="System.Data.SqlClient" />-->
    <add name="PFR_Label_DB" connectionString="Data Source=cld-tgm-mdb01\PFRDB,49820; Initial Catalog=flm_subcon;User ID=flm_subcon;Password=label;MultipleActiveResultSets=True;Max Pool Size=500;Asynchronous Processing=True;" providerName="System.Data.SqlClient"/>
	<add name="ACL" connectionString="Server=GRP-MS-DB6\PABM4DB;Database=pab_ACL;User Id=pabACL;Password=pabACL9#;TrustServerCertificate=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="5000000">
          <converters/>
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
    mode change to 'on' or remove 'customerros' syntax when go Live
     -->
    <customErrors mode="Off"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Xml.Linq"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
      <controls>
        <add tagPrefix="control" src="~/App_Module/Search.ascx" tagName="Search"/>
        <add tagPrefix="control" src="~/App_Module/GridHeader.ascx" tagName="Header"/>
        <add tagPrefix="control" src="~/App_Module/GridFooter.ascx" tagName="Footer"/>
        <add tagPrefix="control" src="~/App_Module/Title.ascx" tagName="Main"/>
        <add tagPrefix="control" src="~/App_Module/Controller.ascx" tagName="Controller"/>
        <add tagPrefix="control" src="~/App_Module/Error.ascx" tagName="Error"/>
        <add tagPrefix="control" src="~/App_Module/GSNController.ascx" tagName="GSNController"/>
        <add tagPrefix="control" src="~/App_Module/EmailField.ascx" tagName="EmailField"/>
        <add tagPrefix="control" src="~/App_Module/ConfirmPassword.ascx" tagName="PasswordField"/>
        <add tagPrefix="control" src="~/App_Module/RangeValidator.ascx" tagName="CheckType"/>
      </controls>
    </pages>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
  </system.web>
  <!--<system.net>
    <defaultProxy>
      <proxy usesystemdefault="False"/>
    </defaultProxy>
  </system.net>-->
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="OptionInfer" value="true"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="sameorigin"/>
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.5.3700.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
    <httpErrors errorMode="Detailed"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>